@use '../../global.scss';

.dropdown {
  border-radius: 1000px;
  border: 1.5px solid global.$color-secondary;
  padding: 0 8px;
  @include global.fontSize-paragraph3;
  max-width: 70%;
  height: 32px;
}
