@use '../../global';

.nav {
  display: flex;
  justify-content: space-around;
}

.link {
  width: 100%;
  @include global.fontSize-paragraph2;
  font-weight: 400;
  padding-bottom: 16px;
  border-bottom: 2px solid #f2f2f2;
}
.active {
  border-bottom: 2px solid global.$color-primary;
}
