@use '../../global';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
  gap: 32px;
}

.title {
  margin: 0;
  @include global.fontSize-title;
  background: global.$color-gradient;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
